<%# add navigation links to this file %>
<ul class="nav">                  
	<li><%= nav_link 'Home', root_path %></li>
	<li><%= nav_link 'About', about_path %></li>
	<li><%= nav_link 'Services', services_path %></li>
	<li><%= nav_link 'Soccer', soccer_path %></li>
	<li><%= nav_link 'Basketball', basketball_path %></li>
	<li><%= nav_link 'MMA', mma_path %></li>
	<li><%= nav_link 'Football', football_path %></li>
	<li><%= nav_link 'Sports Marketing', sports_marketing_path %></li>
	<li><%= nav_link 'Clients', clients_path %></li>
	<li><%= nav_link 'Contact', contact_path %></li>
	<li><%= nav_link 'Media', media_path %></li>
	<% if user_signed_in? %>
	  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
	<% else %>
	  <li><%= link_to 'Sign in', new_user_session_path %></li>
	<% end %>
	<% if user_signed_in? %>
	  <li><%= link_to 'Users', users_path %></li>
	<% end %>  
</ul>